<!DOCTYPE html>

<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}"></title>
    <link rel="shortcut icon" th:href="@{vendors/mdi/css/materialdesignicons.min.css}"/>
    <link rel="shortcut icon" th:href="@{vendors/base/vendor.bundle.base.css}"/>
    <link rel="shortcut icon" th:href="@{css/style.css}"/>
    <link rel="shortcut icon" th:href="@{images/favicon.png}"/>

    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{vendors/base/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>